{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Post A Task</title>
</head>
<body class="post-task">
    <nav class="main-bar">
        <ul>
            <li><img src="Screenshot_2024-11-30_130305-removebg-preview.png" alt=""></li>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#user"><i class="fa-regular fa-user"></i></a></li>
        </ul>
    </nav>    
    <header>
        <div class="main-header">
            <h2 style="margin-bottom: -5px;">Post A Task</h2>
        </div>
    </header>
    <main>
        <div class="main-body">
            <div class="form">
                <form id="form" action="{% url 'Task:postTask' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="text" id="UserName" class="UserName" name="title" placeholder="Job Title">
                    <input type="text" id="location" name="location" placeholder="Enter The Location">
                    <input type="date" id="deadLine" name="taskDeadline" placeholder="Enter The Deadline">
                    <select id="status" name="taskStatus">
                        <option value="">Enter The Status</option>
                        <option value="new">New</option>
                        <option value="inprogress">In Progress</option>
                        <option value="finished">Finished</option>
                        <option value="canceled">Canceled</option>
                    </select>
                    <textarea id="Jop" class="Jop" name="taskDescription" placeholder="Enter A Job Description"></textarea>
                    <button type="submit" id="button">Post</button>
                </form>
                
            </div>
        </div>
    </main>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>
