{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>SignUp</title>
</head>
<body class="sign-up">
    <header>
        <div class="main-header">
            <h2>SignUp</h2>
        </div>
    </header>
    <main>
        <div class="main-body">
            <div class="form">
                <ul>
                    <li class="Employer"><a href="#" ><i class="fa-regular fa-user"></i>Employer</a></li>
                    <li class="Candidate"><a href="#" ><i class="fa-solid fa-briefcase"></i>Seeker</a></li>
                </ul>
                <form action="">
                    <input type="text" id="UserName" class="UserName" name="UserName"  placeholder="Enter Your UserName">
                    <input type="email" id="email" class="email" name="email"  placeholder="Enter Your Email Address">
                    <input type="password" id="password" name="password"  placeholder="Enter a password">
                    <input type="password" id="password" name="password"  placeholder="confirm the password">
                    <button type="submit" id="button">SignUp</button>
                </form>
                <div class="registerNow">
                    <p>You have An Account <a href="login.html">Login!</a></p> 
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/signup.js' %}"></script>
</body>
</html>